@keyframes wave {
    0% { transform: rotate(0.0deg) }
    10% { transform: rotate(16.0deg) }
    20% { transform: rotate(-6.0deg) }
    30% { transform: rotate(16.0deg) }
    40% { transform: rotate(-4.0deg) }
    50% { transform: rotate(16.0deg) }
    60% { transform: rotate(0.0deg) }
    100% { transform: rotate(0.0deg) }
  }
  

.handEmoji {
    animation: wave 2.1s 0.6s infinite;
    transform-origin: 70% 70%;
    display: inline-block;
}

.cardImg {
  height: 40px;
  width: 40px;
}